{% extends 'base.html' %}
{% load static %}
{% block title%}Paipay tracker{% endblock %}
		
{% block styles %}
<link rel="stylesheet" href="{% static 'tracks/css/map_style.css' %}" type="text/css">
{% endblock %}
{% block content %}

	<div id="mapdiv" class="map"></div>

{% endblock %}
{% block scripts_body %}
   <script type="text/javascript">
      var map = new ol.Map({
        target: document.getElementById('mapdiv'),
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([37.41, 8.82]),
          zoom: 4,
        })
        
      });
    
  </script>
	
{% endblock %}
